.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

a {
  padding: 0 30px;
}

.App-logo {
  width: 100px;
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}
